:root {
  --dark-blue: #213347;
  --light-blue: #8fb0d6;
  --text: #a7b8c0;
  --lightest-blue: #00e5ff;
  --links: #7599c8;
}

body {
  color: var(--text);
  background-color: #151518;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* ----- TYPOGRAPHY ----- */

h1,
h3 {
  margin: 0;
}

h1 {
  color: whitesmoke;
  font-size: 1.75rem;
  text-align: center;
}

h2 {
  color: var(--text);
  text-align: center;
  font-size: 1.375rem;
  margin-top: 0;
}

h3 {
  font-size: 1.25rem;
}

p {
  line-height: 1.5;
}

.subheading {
  display: block;
  font-size: 1rem;
  color: var(--light-blue);
}

.section-two h2 {
  color: inherit;
}

/* ----- LINKS ----- */

a {
  color: var(--links);
  text-decoration: underline dotted;
}

a:hover,
a:active {
  color: var(--lightest-blue);
}

.btn {
  font-size: 1.125rem;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-radius: 4.6px;
}

.btn-dark {
  color: whitesmoke;
  background: var(--dark-blue);
}

.btn-mid {
  color: var(--dark-blue);
  background: var(--light-blue);
}

.btn-light {
  color: var(--dark-blue);
  background: whitesmoke;
}

.btn:hover,
.btn:active {
  color: #2b238a;
  background-color: var(--lightest-blue);
}

/* ----- LAYOUT ----- */

header,
section,
footer {
  padding: 1.25em 0;
}

header,
.section-two {
  background-color: var(--dark-blue);
}

.section-two {
  color: whitesmoke;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.image {
  width: 50%;
  display: block;
  max-width: 300px;
  margin: 0 auto 2em;
}

.section-two-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.feature-image {
  width: 50%;
  max-width: 300px;
  display: block;
  margin: 0 auto 1em;
  border-radius: 4.6px;
}

#desktop {
  width: 100%;
}

.feature-item {
  flex: 1 260px;
}

footer {
  text-align: center;
  color: var(--light-blue);
}

/* ----- NAVIGATION ----- */

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 0.85em 0;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 767px) {
  header {
    text-align: center;
  }

  nav {
    margin-top: 1.5em;
  }

  li:not(:last-child) {
    border-bottom: 1px dotted #a190b6;
  }
}

@media (min-width: 768px) {
  header,
  section,
  footer {
    padding: 2.875em 0;
  }

  header .container,
  nav ul {
    display: flex;
  }

  header .container {
    justify-content: space-between;
    align-items: center;
  }

  nav li {
    margin-left: 1.25em;
  }

  .btn {
    display: inline-block;
    margin-right: 0.5em;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .subheading {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.125rem;
  }
}
